<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
            <header>
                <div class="user">
                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQHpfgFHV2kIpQ/profile-displayphoto-shrink_400_400/0/1619292037907?e=1630540800&v=beta&t=4u5lvEENAxZLjogLvONK1g6fULZ65bnXUNxZobkH-fs">        
			<h3 class="name">Peggy Roxy</h3>
                    <p class="post">Software Engineer-in-Training</p>
                </div>
			<nav>
	    		<ul>
	        	<li><a href="#about">About</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
	    		</ul>
			</nav>
            <div class="social-media">
                <a href="https://www.github.com/drpearlz"><i class="fab fa-github"></i></a>
                <a href="https://www.facebook.com/peggicherrie"><i class="fab fa-facebook"></i></a>
                <a href="https://ca.linkedin.com/peggy-roxy-94931a85"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.instagram.com/dr_pearlz"><i class="fab fa-instagram"></i></a>
            </div>
           </header>
			<div class="container">
                
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:drpearlz@icloud.com">email</a></li>
	        		<li><a href="https://github.com/drpearlz">github.com/drpearlz</a></li>
				</ul>
			</footer>
		</body>
	</html>
